body
  background-color: #0f0f0f
  font-family: monospace
  margin: 0px
  padding: 0px
  user-select: none
  z-index: 0

::-webkit-scrollbar 
  width: 10px

::-webkit-scrollbar-track 
  background: #0f0f0f

::-webkit-scrollbar-thumb 
  background: #c6e6e9

::-webkit-scrollbar-thumb:hover 
  background: #69dbe6

.mainPage
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  .mainSpan
    margin: 15px 0px 0px 0px
    color: #c6e6e9
    font-family: monospace
    font-size: 35px
  .gameForm
    margin: 15px 15px 0px 15px
    display: flex
    flex-direction: column
    align-items: center
    .gameDiv
      display: flex
      justify-content: center
      align-items: center
      .gameInput
        width: 70px
        margin: 10px 25px 10px 25px
        background-color: #0f0f0f
        color: #c6e6e9
        border: solid
        border-radius: 5px
        font-family: monospace
        font-size: 35px
        text-align: center
        outline: none
      .gameTime
        width: 80px
        margin: 10px 25px 10px -5px
        background-color: #0f0f0f
        color: #c6e6e9
        border: solid
        border-radius: 5px
        font-family: monospace
        font-size: 35px
        text-align: center
        outline: none
      .gameSpan
        color: #c6e6e9
        font-family: monospace
        font-size: 35px
      .bombSpan
        margin: 10px 25px 10px 25px
        color: #c6e6e9
        font-family: monospace
        font-size: 35px
    .gameButton
        margin: 10px
        background-color: #0f0f0f
        color: #c6e6e9
        border: solid
        border-radius: 5px
        font-family: monospace
        font-size: 35px
        transition: 200ms
        &:hover
          color: #69dbe6
    .errorSpan
        margin: 10px
        color: #e66969
        font-family: monospace
        font-size: 35px
  .fieldDiv
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    .fieldCellX
      display: flex
      flex-direction: row
      button
        height: 55px
        width: 55px
        margin: 5px
        background-color: #c6e6e9
        color: #c6e6e9
        border: none
        border-radius: 5px
        font-family: monospace
        font-size: 35px
        transition: 200ms
        &:hover
          background-color: #69dbe6
          color: #69dbe6  
      .click
        background-color: #69dbe6
        color: #69dbe6
      .bomb
        background-color: #e66969
        color: #e66969
        &:hover
          background-color: #e66969
          color: #e66969
      .one
        background-color: #4470e7
        color: #c6e6e9
        &:hover
          background-color: #4470e7
          color: #c6e6e9
      .two
        background-color: #4bc04b
        color: #c6e6e9
        &:hover
          background-color: #4bc04b
          color: #c6e6e9
      .three
        background-color: #bb4848
        color: #c6e6e9
        &:hover
          background-color: #bb4848
          color: #c6e6e9
      .four
        background-color: #243c69
        color: #c6e6e9
        &:hover
          background-color: #243c69
          color: #c6e6e9
      .five
        background-color: #e6a569
        color: #c6e6e9
        &:hover
          background-color: #e6a569
          color: #c6e6e9
      .six
        background-color: #46b9b4
        color: #c6e6e9
        &:hover
          background-color: #46b9b4
          color: #c6e6e9
      .seven
        background-color: #353535
        color: #c6e6e9
        &:hover
          background-color: #353535
          color: #c6e6e9
      .eight
        background-color: #e669dc
        color: #c6e6e9
        &:hover
          background-color: #e669dc
          color: #c6e6e9
      .flag
        color: #353535
        &:hover
          color: #353535
    .fieldInfo
      width: 500px
      display: flex
      justify-content: space-between
      align-items: center
      align-content: center
      .fieldSpan
        margin: 0px 0px 15px 0px
        color: #c6e6e9
        font-size: 30px 
  .errorSpan
    margin: 30px 
    color: #e66969
    font-size: 30px 

.totalDiv
  width: 700px
  padding: 0px 0px 10px 0px
  display: flex
  flex-direction: column
  justify-content: center
  background-color: #0f0f0f
  color: #c6e6e9
  border: solid
  border-radius: 5px
  align-items: center
  position: fixed
  z-index: 1
  .win
    color: #4bc04b
    font-size: 100px
  .lose
    color: #e66969
    font-size: 100px
  .totalSpan
    margin: 10px
    font-size: 50px
  .totalButton
    margin: 10px
    background-color: #0f0f0f
    color: #c6e6e9
    border: solid
    border-radius: 5px
    font-family: monospace
    font-size: 50px
    transition: 200ms
    &:hover
      color: #69dbe6
